---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import SiteLinks from '../components/SiteLinks.astro';
---

<Layout title="Where is Arlin">
	<main>
		<Header/>
		<SiteLinks/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
