---

---
<header>
  <div class="header-content">
    <p>Where to find</p>
    <h1>Arlin</h1>
  </div>
</header>

<style>
  header {
    margin: 10px 0px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }
  .header-content {
    margin: 10px 0 ;
    padding: 0;
  }
</style>